.attribution {
    font-size: .6em;
    text-align: center;
    background-color: rgba(217, 229, 233, 0.4);
    padding: 15px;

    a {
        color: hsl(228, 45%, 44%);
        font-size: 1em;
    }
}